.qr-reader {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.qr-reader video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.qr-reader .qr-box {
	width: 100% !important;
	left: 0 !important;
}

.qr-reader .qr-frame {
	position: absolute;
	fill: none;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/* Media Queries for mobile screens */
@media (max-width: 426px) {
	.qr-reader {
		width: 100%;
	}
}
/* 
#html5qr-code-full-region {
	width: 100%;
	border: none;
	border-radius: 10px;
}

#html5qr-code-full-region__scan_region {
	background-color: #0ff;
	border-radius: 10px;
}
#html5qr-code-full-region__scan_region img {
	display: none;
}

#html5qr-code-full-region > div:first-child {
	display: none;
}

#html5qr-code-full-region__dashboard {
	padding: 10px;
	border: 1px solid #000;
	background-color: azure;
	border-radius: 5px;
}

#html5-qrcode-button-camera-start {
	display: none;
}

#html5qr-code-full-region__dashboard_section_csr {
	display: none;
}

#html5-qrcode-button-camera-stop {
	display: none;
} */
